openapi: 3.1.0
info:
  title: Magma Gestion API
  description: API de gestion des métadonnées statistiques
  contact:
    name: dr59-sndil
    url: https://www.insee.fr/fr/accueil
    email: dr59-sinl-equipe-maintenance-rmes@insee.fr
  version: 1.4.11
servers:
  - url: https://api-rmes-gestion.insee.fr
    description: Production server
tags:
  - name: Codes lists
    description: Consultation Gestion API - listes des codes
  - name: Organisations
    description: Consultation des organisations de la base de gestion
  - name: Structures/Composants
    description: Consultation Magma API - Structures/Composants
  - name: Concepts
    description: Consultation Gestion API - Concepts
  - name: Series-Operations
    description: Consultation des Séries et Opérations de la base de gestion
  - name: Datasets
    description: Consultation Magma API - datasets

security:
  - bearerAuth: []

paths:
  # ============================================
  # STRUCTURES / COMPOSANTS
  # ============================================
  /structures:
    get:
      tags:
        - Structures/Composants
      summary: Get all structures
      operationId: getAllStructures
      parameters:
        - name: dateMiseAJour
          in: query
          description: 'Date of last update. Example: 2023-01-31'
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AllStructure'
        '404':
          description: Not found
        '500':
          description: Internal server error

  /structure/{id}:
    get:
      tags:
        - Structures/Composants
      summary: Get a structure
      operationId: getStructure
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: dateMiseAJour
          in: query
          description: If true, returns only the update date
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StructureById'
        '404':
          description: Not found
        '500':
          description: Internal server error

  /structure/{id}/sliceKeys:
    get:
      tags:
        - Structures/Composants
      summary: Get slice keys
      operationId: getSliceKeys
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StructureSliceKeys'
        '404':
          description: Not found
        '500':
          description: Internal server error

  /composants:
    get:
      tags:
        - Structures/Composants
      summary: Get all components
      operationId: getAllComponents
      parameters:
        - name: dateMiseAJour
          in: query
          description: 'Date of last update. Example: 2023-01-31'
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AllComponent'
        '404':
          description: Not found
        '500':
          description: Internal server error

  /composant/{id}:
    get:
      tags:
        - Structures/Composants
      summary: Get a component
      operationId: getComponentById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: dateMiseAJour
          in: query
          description: If true, returns only the update date
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentById'
        '404':
          description: Not found
        '500':
          description: Internal server error

  # ============================================
  # ORGANISATIONS
  # ============================================
  /organisations:
    get:
      tags:
        - Organisations
      summary: Get all organisations
      operationId: getAllOrganisations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organisation'
        '404':
          description: Not found
        '500':
          description: Internal server error

  /organisation/{id}/:
    get:
      tags:
        - Organisations
      summary: Get one organisation
      operationId: getOrganisationById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        '404':
          description: Not found
        '500':
          description: Internal server error

  # ============================================
  # SERIES / OPERATIONS (Pogues)
  # ============================================
  /operations/series:
    get:
      tags:
        - Series-Operations
      summary: Get all series
      operationId: getAllSeries
      parameters:
        - name: survey
          in: query
          description: Filter for survey only
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SerieById'
        '404':
          description: Not found
        '500':
          description: Internal server error

  /operations/serie/{id}:
    get:
      tags:
        - Series-Operations
      summary: Get one serie
      operationId: getSerieById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerieById'
        '404':
          description: Not found
        '500':
          description: Internal server error

  /operations/serie/{id}/operations:
    get:
      tags:
        - Series-Operations
      summary: Get operations by serie
      operationId: getOperationsBySerie
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OperationBySerieId'
        '404':
          description: Not found
        '500':
          description: Internal server error

  /operations/operation/{id}:
    get:
      tags:
        - Series-Operations
      summary: Get operation by code
      operationId: getOperationByCode
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationById'
        '404':
          description: Not found
        '500':
          description: Internal server error

  # ============================================
  # CODES LISTS
  # ============================================
  /listesCodes:
    get:
      tags:
        - Codes lists
      summary: Get all codes lists
      operationId: getAllCodesLists
      parameters:
        - name: dateMiseAJour
          in: query
          description: 'Date of last update. Example: 2023-01-31'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AllListCode'
        '404':
          description: Not found
        '500':
          description: Internal server error

  /listeCode/{id}:
    get:
      tags:
        - Codes lists
      summary: Get one codes list
      operationId: getCodesList
      parameters:
        - name: id
          in: path
          description: Notation of the code list
          required: true
          schema:
            type: string
        - name: dateMiseAJour
          in: query
          description: If true, returns only the update date
          required: false
          schema:
            type: boolean
            default: false
        - name: withCodes
          in: query
          description: Include codes in the response
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCodeById'
        '404':
          description: Not found
        '500':
          description: Internal server error

  /listeCode/{id}/pagination:
    get:
      tags:
        - Codes lists
      summary: Get one codes list with 5 codes per page
      operationId: getCodesListPagination
      parameters:
        - name: id
          in: path
          description: Notation of the code list
          required: true
          schema:
            type: string
        - name: pageNumber
          in: query
          description: Page number (starting from 0)
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCodeById'
        '404':
          description: Not found
        '416':
          description: Requested Range Not Satisfiable - Page does not exist
        '500':
          description: Internal server error

  # ============================================
  # DATASETS
  # ============================================
  /datasets/list:
    get:
      tags:
        - Datasets
      summary: Get list of datasets
      operationId: getListDatasets
      parameters:
        - name: dateMiseAJour
          in: query
          description: 'Date of last update. Example: 2023-01-31'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataSet'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error

  /dataset/{id}:
    get:
      tags:
        - Datasets
      summary: Get one dataset
      operationId: getDataSetById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: dateMiseAJour
          in: query
          description: If true, returns only the update date summary
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSet'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
    patch:
      tags:
        - Datasets
      summary: Update some properties of a dataset
      description: Update ObservationNumber, issued, modified, temporal, or numSeries of a dataset
      operationId: patchDataSet
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: JSON with parameters you want to change
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchDataset'
            example:
              issued: "2022-11-11"
              modified: "2023-12-31"
              temporal:
                startPeriod: "2020-01-01"
                endPeriod: "2024-01-01"
              numObservations: 150
              numSeries: 12
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error

  /dataset/{id}/distributions:
    get:
      tags:
        - Datasets
      summary: Get dataset distributions
      operationId: getDataSetDistributionsById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Distribution'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error

  # ============================================
  # CONCEPTS
  # ============================================
  /concepts:
    get:
      tags:
        - Concepts
      summary: List of concepts
      operationId: getAllConcepts
      parameters:
        - name: dateMiseAJour
          in: query
          description: 'Date of last update. Example: 2023-01-31'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConceptById'
        '404':
          description: Not found
        '500':
          description: Internal server error

  /concept/{id}:
    get:
      tags:
        - Concepts
      summary: Get one concept
      operationId: getDetailedConcept
      parameters:
        - name: id
          in: path
          description: 'Identifiant du concept (format : c[0-9]{4})'
          required: true
          schema:
            type: string
            pattern: 'c[0-9]{4}'
          example: c2066
        - name: dateMiseAJour
          in: query
          description: If true, returns only the update date
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllConcept'
        '404':
          description: Not found
        '500':
          description: Internal server error

  /concepts/collection{id}:
    get:
      tags:
        - Concepts
      summary: List of collection's concepts
      operationId: getCollectionOfConcepts
      parameters:
        - name: id
          in: path
          description: Identifiant interne de la collection
          required: true
          schema:
            type: string
          example: definitions-insee-fr
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfConcepts'
        '404':
          description: Not found
        '500':
          description: Internal server error

  /concepts/collection/{id}/concepts:
    get:
      tags:
        - Concepts
      summary: Set of concepts in a collection
      operationId: getSetOfConceptsInACollection
      parameters:
        - name: id
          in: path
          description: Identifiant interne de la collection
          required: true
          schema:
            type: string
          example: definitions-insee-fr
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SetOfConcepts'
        '404':
          description: Not found
        '500':
          description: Internal server error

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # ============================================
    # COMMON / SHARED SCHEMAS
    # ============================================
    Label:
      type: object
      properties:
        langue:
          type: string
        contenu:
          type: string

    LangContent:
      type: object
      properties:
        lang:
          type: string
        content:
          type: string

    IdLabel:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/LangContent'

    # ============================================
    # STRUCTURES / COMPOSANTS SCHEMAS
    # ============================================
    AllStructure:
      type: object
      properties:
        dateMiseAJour:
          type: string
        statutValidation:
          type: string
        id:
          type: string

    StructureById:
      type: object
      properties:
        dateMiseAJour:
          type: string
        dateCreation:
          type: string
        notation:
          type: string
        statutValidation:
          type: string
        mesures:
          type: array
          items:
            $ref: '#/components/schemas/Mesure'
        id:
          type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        uri:
          type: string
        version:
          type: string
        attributs:
          type: array
          items:
            $ref: '#/components/schemas/Attribut'
        dimensions:
          type: array
          items:
            $ref: '#/components/schemas/Dimension'

    StructureSliceKeys:
      type: object
      properties:
        composants:
          type: array
          items:
            type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        type:
          type: string

    Mesure:
      type: object
      properties:
        ordre:
          type: string
        notation:
          type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        uri:
          type: string
        representation:
          type: string

    Attribut:
      type: object
      properties:
        ordre:
          type: string
        notation:
          type: string
        listCode:
          $ref: '#/components/schemas/ListCodeRef'
        attachement:
          type: string
        obligatoire:
          type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        uri:
          type: string
        representation:
          type: string

    Dimension:
      type: object
      properties:
        ordre:
          type: string
        notation:
          type: string
        listCode:
          $ref: '#/components/schemas/ListCodeRef'
        label:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        uri:
          type: string
        representation:
          type: string

    ListCodeRef:
      type: object
      properties:
        id:
          type: string
        uri:
          type: string

    AllComponent:
      type: object
      properties:
        dateMiseAJour:
          type: string
        statutValidation:
          type: string
        id:
          type: string

    ComponentById:
      type: object
      properties:
        dateMiseAJour:
          type: string
        dateCreation:
          type: string
        concept:
          $ref: '#/components/schemas/ConceptRef'
        statutValidation:
          type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        type:
          type: string
        uri:
          type: string
        representation:
          type: string
        version:
          type: string
        notation:
          type: string
        id:
          type: string
        listeCode:
          $ref: '#/components/schemas/ListeCodeWithCodes'

    ConceptRef:
      type: object
      properties:
        id:
          type: string
        uri:
          type: string

    ListeCodeWithCodes:
      type: object
      properties:
        codes:
          type: array
          items:
            $ref: '#/components/schemas/Code'
        id:
          type: string
        uri:
          type: string

    # ============================================
    # ORGANISATIONS SCHEMAS
    # ============================================
    Organisation:
      type: object
      properties:
        id:
          type: string
        uri:
          type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        abreviation:
          type: string
        uniteDe:
          type: string
        sousTelleDe:
          type: string
        altlabel:
          type: array
          items:
            $ref: '#/components/schemas/Label'

    # ============================================
    # SERIES / OPERATIONS SCHEMAS
    # ============================================
    SerieById:
      type: object
      properties:
        altLabel:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        label:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        type:
          $ref: '#/components/schemas/TypeRef'
        series:
          type: string
        id:
          type: string
        frequence:
          $ref: '#/components/schemas/Frequence'
        nbOperation:
          type: string
        famille:
          $ref: '#/components/schemas/Famille'
        proprietaire:
          type: array
          items:
            type: string

    TypeRef:
      type: object
      properties:
        id:
          type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        uri:
          type: string

    Frequence:
      type: object
      properties:
        id:
          type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        uri:
          type: string

    Famille:
      type: object
      properties:
        id:
          type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        uri:
          type: string

    OperationBySerieId:
      type: object
      properties:
        altLabel:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        label:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        uri:
          type: string
        serie:
          $ref: '#/components/schemas/SerieRef'
        id:
          type: string
        millesime:
          type: string

    SerieRef:
      type: object
      properties:
        id:
          type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        uri:
          type: string
        frequence:
          $ref: '#/components/schemas/Frequence'

    OperationById:
      type: object
      properties:
        serie:
          $ref: '#/components/schemas/SerieRef'
        id:
          type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        uri:
          type: string
        proprietaire:
          type: string
        millesime:
          type: string

    # ============================================
    # CODE LISTS SCHEMAS
    # ============================================
    AllListCode:
      type: object
      properties:
        ordre:
          type: string
        id:
          type: string
        version:
          type: string
        statutValidation:
          type: string
        dateMiseAJour:
          type: string

    ListCodeById:
      type: object
      properties:
        codes:
          type: array
          items:
            $ref: '#/components/schemas/Code'
        id:
          type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        uri:
          type: string
        version:
          type: string
        dateMiseAJour:
          type: string

    Code:
      type: object
      properties:
        code:
          type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        uri:
          type: string

    # ============================================
    # DATASETS SCHEMAS
    # ============================================
    DataSet:
      type: object
      properties:
        id:
          type: string
        uri:
          type: string
        catalogRecordCreated:
          type: string
        catalogRecordModified:
          type: string
        catalogRecordCreator:
          type: string
        catalogRecordContributor:
          type: string
        identifier:
          type: string
        issued:
          type: string
        modified:
          type: string
        disseminationStatus:
          type: string
        validationState:
          type: string
        version:
          type: string
        creator:
          type: array
          items:
            $ref: '#/components/schemas/IdLabel'
        publisher:
          $ref: '#/components/schemas/IdLabel'
        title:
          type: array
          items:
            $ref: '#/components/schemas/LangContent'
        subtitle:
          type: array
          items:
            $ref: '#/components/schemas/LangContent'
        abstract:
          type: array
          items:
            $ref: '#/components/schemas/LangContent'
        description:
          type: array
          items:
            $ref: '#/components/schemas/LangContent'
        scopeNote:
          type: array
          items:
            $ref: '#/components/schemas/LangContent'
        wasGeneratedBy:
          type: array
          items:
            $ref: '#/components/schemas/IdLabel'
        type:
          type: array
          items:
            $ref: '#/components/schemas/LangContent'
        archiveUnit:
          type: array
          items:
            $ref: '#/components/schemas/IdLabel'
        accessRights:
          type: array
          items:
            $ref: '#/components/schemas/LangContent'
        confidentialityStatus:
          type: array
          items:
            $ref: '#/components/schemas/LangContent'
        theme:
          type: array
          items:
            $ref: '#/components/schemas/Theme'
        landingPage:
          type: array
          items:
            $ref: '#/components/schemas/LandingPage'
        processStep:
          $ref: '#/components/schemas/ProcessStep'
        accrualPeriodicity:
          $ref: '#/components/schemas/Label'
        temporal:
          $ref: '#/components/schemas/Temporal'
        temporalResolution:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        spatial:
          $ref: '#/components/schemas/IdLabel'
        spatialResolution:
          type: array
          items:
            $ref: '#/components/schemas/IdLabel'
        spatialTemporal:
          type: string
        statisticalUnit:
          type: array
          items:
            $ref: '#/components/schemas/IdLabel'
        structure:
          $ref: '#/components/schemas/Structure'
        numObservations:
          type: integer
          format: int32
        numSeries:
          type: integer
          format: int32
        wasDerivedFrom:
          $ref: '#/components/schemas/WasDerivedFrom'
        relations:
          type: array
          items:
            type: string
        keyword:
          type: array
          items:
            $ref: '#/components/schemas/LangContent'

    Theme:
      type: object
      properties:
        uri:
          type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/LangContent'
        themeTaxonomy:
          type: string

    LandingPage:
      type: object
      properties:
        lang:
          type: string
        url:
          type: string

    ProcessStep:
      type: object
      properties:
        id:
          type: string
        label:
          $ref: '#/components/schemas/Label'

    Temporal:
      type: object
      properties:
        startPeriod:
          type: string
        endPeriod:
          type: string

    Structure:
      type: object
      properties:
        uri:
          type: string
        id:
          type: string
        dsd:
          type: string

    WasDerivedFrom:
      type: object
      properties:
        datasets:
          type: array
          items:
            type: string
        description:
          type: array
          items:
            $ref: '#/components/schemas/LangContent'

    Distribution:
      type: object
      properties:
        identifier:
          type: string
        byteSize:
          type: string
        created:
          type: string
        description:
          type: array
          items:
            $ref: '#/components/schemas/LangContent'
        downloadURL:
          type: array
          items:
            type: string
        format:
          type: string
        modified:
          type: string
        title:
          type: array
          items:
            $ref: '#/components/schemas/LangContent'
        uri:
          type: string

    PatchDataset:
      type: object
      description: DTO for patching dataset properties
      properties:
        issued:
          type: string
          description: Issue date (format YYYY-MM-DD)
          example: "2022-11-11"
        modified:
          type: string
          description: Last modification date (format YYYY-MM-DD)
          example: "2023-12-31"
        temporal:
          $ref: '#/components/schemas/Temporal'
        numObservations:
          type: integer
          format: int32
          description: Number of observations
          example: 150
        numSeries:
          type: integer
          format: int32
          description: Number of series
          example: 12

    # ============================================
    # CONCEPTS SCHEMAS
    # ============================================
    AllConcept:
      type: object
      properties:
        dateMiseAJour:
          type: string
        statutValidation:
          type: string
        id:
          type: string

    ConceptById:
      type: object
      properties:
        dateCreation:
          type: string
        dateMiseAJour:
          type: string
        statutValidation:
          type: string
        id:
          type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        dateFinValidite:
          type: string
        uri:
          type: string
        version:
          type: string
        name:
          type: string
        conceptsSDMX:
          type: array
          items:
            $ref: '#/components/schemas/ConceptSDMX'
        definitionCourte:
          type: array
          items:
            $ref: '#/components/schemas/LangContent'

    ConceptSDMX:
      type: object
      properties:
        agence:
          type: string
        id:
          type: string

    CollectionOfConcepts:
      type: object
      properties:
        id:
          type: string
        uri:
          type: string
        dateMiseAJour:
          type: string
        intitule:
          type: array
          items:
            $ref: '#/components/schemas/LangContent'
        description:
          type: array
          items:
            $ref: '#/components/schemas/LangContent'

    SetOfConcepts:
      type: object
      properties:
        id:
          type: string
        uri:
          type: string